<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>ClamX Antivirus for Mac</string>
	<key>installer_item_hash</key>
	<string>ee3f4f8da59360459c72ae866146ed2bbb94b886f76a0a8fa9067d9110812cc6</string>
	<key>installer_item_location</key>
	<string>utils/ClamXav-2.5.dmg</string>
	<key>installer_item_size</key>
	<integer>15075</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>uk.co.markallan.clamxav</string>
			<key>CFBundleName</key>
			<string>ClamXav</string>
			<key>CFBundleShortVersionString</key>
			<string>2.5</string>
			<key>CFBundleVersion</key>
			<string>293</string>
			<key>path</key>
			<string>/Applications/ClamXav.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>ClamXav.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>ClamXav</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.5</string>
</dict>
</plist>
