<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoremove</key>
    <false/>
    <key>catalogs</key>
    <array>
        <string>production</string>
    </array>
    <key>display_name</key>
    <string>xprotect_disable</string>
    <key>installer_type</key>
    <string>nopkg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/usr/local/munki/.xprotect1</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>preinstall_script</key>
	<string>#!/bin/sh

# don't check JavaWebComponentVersionMinimum
XPROTECT_META_PLIST="$3/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/XProtect.meta.plist"
/usr/libexec/PlistBuddy -c "Delete :JavaWebComponentVersionMinimum" "$XPROTECT_META_PLIST"

# disable the xprotectupdater job
LAUNCHD_JOB_PLIST="$3/System/Library/LaunchDaemons/com.apple.xprotectupdater.plist"
/bin/launchctl unload -w "$LAUNCHD_JOB_PLIST"
	</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
touch /usr/local/munki/.xprotect1
exit 0
</string>
    <key>minimum_os_version</key>
    <string>10.7.5</string>
    <key>name</key>
    <string>xprotect_disable</string>
    <key>uninstallable</key> 
    <false/> 
    <key>version</key>
    <string>1.0</string>
    <key>unattended_install</key>
    <true/>
</dict>
</plist>