<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>FileMaker Pro 12</string>
	<key>installed_size</key>
	<integer>1360333</integer>
	<key>installer_item_hash</key>
	<string>7b9747cb2e1281d1edd8d4a3a24f4c610fbe4a4925e071242f5500e7a0ae3139</string>
	<key>installer_item_location</key>
	<string>apps/fmp_12.0.3.328.dmg</string>
	<key>installer_item_size</key>
	<integer>417102</integer>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>FileMaker Pro</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.filemaker.client.pro12</string>
			<key>CFBundleName</key>
			<string>FileMaker Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>12.0.3</string>
			<key>path</key>
			<string>/Applications/FileMaker Pro 12/FileMaker Pro.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/FileMaker Pro 12/.licensed</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>631431</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12Application.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>63722</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12BrazilianPortugueseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10817</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12Dictionaries.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55666</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12DutchLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>57127</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12EnglishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55253</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12FrenchLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55965</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12GermanLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>56307</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12ItalianLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>59233</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12JapaneseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>18</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsAUS.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsBrazilianPortuguese.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsDutch.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsFrench.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsGerman.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsItalian.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>75</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsJP.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsSC.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsSpanish.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>18</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsSwedish.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsTC.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsUK.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>45</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12LabelsUS.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>339</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12OLEWrapper.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>62397</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12SChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55578</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12SpanishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>54682</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12SwedishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>63135</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12TChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>78397</integer>
			<key>packageid</key>
			<string>com.filemaker.FMP12WebPublishing.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0.3.328</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
rm -rf /Applications/FileMaker\ Pro\ 11
rm -rf /Applications/FileMaker\ Pro\ 11\ Advanced
rm -rf /Applications/FileMaker\ Pro\ 12
</string>
	<key>unattended_install</key>
	<true/>
	<key>postinstall_script</key>
	<string>#!/bin/sh
touch /Applications/FileMaker\ Pro\ 12/.licensed
</string>
</dict>
</plist>
