<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>FileMaker Pro 12 Advanced</string>
	<key>installed_size</key>
	<integer>1551044</integer>
	<key>installer_item_hash</key>
	<string>0fded5d945dbec2a27078192b531228211304581d66b02a273705a4e0a07c6e7</string>
	<key>installer_item_location</key>
	<string>apps/fmpa_12.0.3.328.dmg</string>
	<key>installer_item_size</key>
	<integer>489373</integer>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>FileMaker Pro 12 Advanced</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.filemaker.client.advanced12</string>
			<key>CFBundleName</key>
			<string>FileMaker Pro Advanced</string>
			<key>CFBundleShortVersionString</key>
			<string>12.0.3</string>
			<key>path</key>
			<string>/Applications/FileMaker Pro 12 Advanced/FileMaker Pro Advanced.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/FileMaker Pro 12 Advanced/.licensed</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>804068</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12Application.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>65153</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12BrazilianPortugueseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10817</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12Dictionaries.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>57151</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12DutchLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>59131</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12EnglishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>56705</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12FrenchLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>57465</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12GermanLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>57774</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12ItalianLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>61092</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12JapaneseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>18</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsAUS.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsBrazilianPortuguese.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsDutch.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsFrench.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsGerman.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsItalian.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>75</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsJP.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsSC.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsSpanish.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>18</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsSwedish.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsTC.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsUK.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>45</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12LabelsUS.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>339</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12OLEWrapper.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>64334</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12SChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>57099</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12SpanishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>56117</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12SwedishLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>65118</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12TChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>78397</integer>
			<key>packageid</key>
			<string>com.filemaker.FMPA12WebPublishing.pkg</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0.3.328</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
rm -rf /Applications/FileMaker\ Pro\ 12
rm -rf /Applications/FileMaker\ Pro\ 12\ Advanced
</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
touch /Applications/FileMaker\ Pro\ 12\ Advanced/.licensed
</string>
</dict>
</plist>
