<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autoremove</key>
    <false/>
    <key>catalogs</key>
    <array>
        <string>production</string>
    </array>
    <key>display_name</key>
    <string>Ben Munki Repo Settings</string>
    <key>installer_type</key>
    <string>nopkg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>1eb4bdfb6101ead0e535acda13cc0010</string>
			<key>path</key>
			<string>/usr/local/munki/preflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>9531ae3fabc00b6d9c8356329cd35788</string>
			<key>path</key>
			<string>/usr/local/munki/postflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>c14043e3f5fdee4bfc7b309eafd0bd01</string>
			<key>path</key>
			<string>/usr/local/munki/report_broken_client</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>preinstall_script</key>
	<string>#!/bin/sh
defaults write /Library/Preferences/ManagedInstalls Client Ben
exit 0
	</string>
    <key>minimum_os_version</key>
    <string>10.4.0</string>
    <key>name</key>
    <string>ben-RepoSettings</string>
    <key>uninstallable</key> 
    <false/> 
    <key>version</key>
    <string>1.0</string>
    <key>unattended_install</key>
    <true/>
	<key>update_for</key>
	<array>
		<string>Inventory</string>
	</array>

</dict>
</plist>