<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>ben</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Java for OS X 2013-004</string>
	<key>installed_size</key>
	<integer>75873</integer>
	<key>installer_item_hash</key>
	<string>b10cac904a28be56b898563756caa99c2d484da605d2f7aa12547a4850b4fda5</string>
	<key>installer_item_location</key>
	<string>ben/apple/JavaForOSX2013-004.dmg</string>
	<key>installer_item_size</key>
	<integer>65552</integer>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>JavaForOSX</string>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>1888cf656bf5eec776c3076423512407</string>
			<key>path</key>
			<string>/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/versions.plist</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>a7a865dcd862dfbea61a46c6f3a6be4b</string>
			<key>path</key>
			<string>/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Info.plist</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.0.0.1.1247562015</string>	
</dict>
</plist>
