<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>installed_size</key>
	<integer>18208</integer>
	<key>installer_item_hash</key>
	<string>09cf251392d2e0b9722b675be1e8c4a9c95429400cf4f68979d57d4e7eae12f5</string>
	<key>installer_item_location</key>
	<string>apps/adobe/Adobe Flash Player-11.8.800.94.dmg</string>
	<key>installer_item_size</key>
	<integer>17527</integer>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>Adobe Flash Player</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Adobe Flash Player.pkg</string>
			<key>installed_size</key>
			<integer>18208</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>11.8.800.94</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.8.800.94</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

mkdir -p -m 775 "/Library/Application Support/Macromedia"
echo "AutoUpdateDisable=1" > "/Library/Application Support/Macromedia/mms.cfg"
chown root:admin "/Library/Application Support/Macromedia/mms.cfg"
chmod 664 "/Library/Application Support/Macromedia/mms.cfg"

exit 0
	</string>
</dict>
</plist>
