<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>benbass</string>
		<key>creation_date</key>
		<date>2014-02-06T01:10:22Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>installed_size</key>
	<integer>18820</integer>
	<key>installer_item_hash</key>
	<string>922619db7b165f7a6bbb71f1d75159edea636421c2056cd48136682750d59782</string>
	<key>installer_item_location</key>
	<string>apps/adobe/Install Adobe Flash Player-12.0.0.44.pkg</string>
	<key>installer_item_size</key>
	<integer>17557</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Adobe Flash Player</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>18820</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>12.0.0.44</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0.0.44</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

mkdir -p -m 775 "/Library/Application Support/Macromedia"
echo "AutoUpdateDisable=1" > "/Library/Application Support/Macromedia/mms.cfg"
chown root:admin "/Library/Application Support/Macromedia/mms.cfg"
chmod 664 "/Library/Application Support/Macromedia/mms.cfg"

exit 0
	</string>
</dict>
</plist>
