<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>forced_install</key>
	<true/>
	<key>unattended_install</key>
	<true/>
	<key>installer_item_hash</key>
	<string>7199831d2d456906354b3bc2581c5eb9a77e7669b8ce166e42c6f57c4751ded7</string>
	<key>installer_item_location</key>
	<string>munki/Inventory-4.3.dmg</string>
	<key>installer_item_size</key>
	<integer>52</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>1eb4bdfb6101ead0e535acda13cc0010</string>
			<key>path</key>
			<string>/usr/local/munki/preflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>66a7ca7a35d107d0447fc7cbc54ec458</string>
			<key>path</key>
			<string>/usr/local/munki/postflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>c14043e3f5fdee4bfc7b309eafd0bd01</string>
			<key>path</key>
			<string>/usr/local/munki/report_broken_client</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>0755</string>
			<key>source_item</key>
			<string>preflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>0755</string>
			<key>source_item</key>
			<string>postflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>0755</string>
			<key>source_item</key>
			<string>report_broken_client</string>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Inventory</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.3</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
defaults write /Library/Preferences/ManagedInstalls Client -UNKNOWN-
exit 0
	</string>
</dict>
</plist>
