<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Munki Admin tools</string>
	<key>display_name</key>
	<string>Software Update - Admin Tools</string>
	<key>installed_size</key>
	<integer>128</integer>
	<key>installer_item_hash</key>
	<string>4b0795e79e8b59cbfd5a7ad3e48014d2f93011499f489152e85f826b624e692d</string>
	<key>installer_item_location</key>
	<string>munki/munkitools_admin-0.8.4.1770.0.dmg</string>
	<key>installer_item_size</key>
	<integer>42</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>munkitools_admin-0.8.4.1770.0.pkg</string>
			<key>installed_size</key>
			<integer>128</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>0.8.4.1770.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.8.4.1770.0</string>
</dict>
</plist>
