<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>benbass</string>
		<key>creation_date</key>
		<date>2013-12-16T23:10:17Z</date>
		<key>munki_version</key>
		<string>0.9.2.1851</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Munki Admin tools</string>
	<key>display_name</key>
	<string>Software Update - Admin Tools</string>
	<key>installed_size</key>
	<integer>132</integer>
	<key>installer_item_hash</key>
	<string>c3886847d23d6ed6fe31f994e2c140a989aab914c00f94b62095794d0ea48b4e</string>
	<key>installer_item_location</key>
	<string>munki/munkitools_admin-0.9.2.1856.0.dmg</string>
	<key>installer_item_size</key>
	<integer>47</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>munkitools_admin-0.9.2.1856.0.pkg</string>
			<key>installed_size</key>
			<integer>132</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>0.9.2.1856.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.9.2.1856.0</string>
</dict>
</plist>
