<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Munki Tools Application</string>
	<key>display_name</key>
	<string>Software Update - Application</string>
	<key>installed_size</key>
	<integer>1420</integer>
	<key>installer_item_hash</key>
	<string>737f0a20ea4d9fe463285e3474ca9d7c2e2247c89fefe6ef0f50f62816c1bf83</string>
	<key>installer_item_location</key>
	<string>munki/munkitools_app-3.5.2.1767.dmg</string>
	<key>installer_item_size</key>
	<integer>699</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>munkitools_app</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>munkitools_app-3.5.2.1767.pkg</string>
			<key>installed_size</key>
			<integer>1420</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>3.5.2.1767</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.5.2.1767</string>
</dict>
</plist>
